.app {
  width: 400px;
  height: 300px;
  font-size: 15px;
  line-height: 1.7;
  padding: 0 20px;
}

.app h1 {
    text-align: center;
}

.app .txtDomSelector {
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(0,0,255);
    display: block;
    margin: 10px auto;
}

.app .ad-preview {
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.app .ad-preview:hover {
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.5);
}

